amqp==5.3.1
asgiref==3.8.1
asn1crypto==0.24.0
billiard==3.6.4.0
celery==5.2.2
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi==1.17.1
chardet==3.0.4
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==43.0.3
Django==2.1.7
django-cors-headers==3.11.0
django-haystack==2.8.1
django-redis==4.8.0
django-tinymce==2.6.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
jieba==0.39
kombu==5.4.2
mysqlclient==2.2.6
olefile==0.44
pillow==11.0.0
prompt_toolkit==3.0.48
pycparser==2.19
pycryptodome==3.6.6
pycryptodomex==3.6.6
PyJWT==1.6.4
PyMySQL==0.9.2
python-alipay-sdk==1.7.0
pytz==2017.2
redis==2.10.6
six==1.11.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.23
vine==5.1.0
wcwidth==0.2.13
Whoosh==2.7.4
wincertstore==0.2
